# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/
.vscode/
*.log

# Generated / ephemeral
.gradle/
ios/Pods/
ios/.symlinks/
android/.gradle/
*.lock
